/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .lazy-iframe-container{
    position: relative;
}

.lazy-iframe-box{
    display: block;
    position: relative;
    z-index: 1;
    line-height: 0;
}

.lazy-iframe-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.lazy-iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lazy-iframe-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    overflow: hidden;
}

.lazy-iframe-overlay-image{
    position: absolute;
}

.lazy-videos-popup-close{
    position: absolute;
    background: none;
    border: unset;
    cursor:pointer;
}

.lazy-videos-popup iframe{
    width:100%;
    height:608px;
}

@media only screen and (max-width:1440px){
    .lazy-videos-popup iframe{
        height:486px;
    }
}

@media only screen and (max-width:1280px){
    .lazy-videos-popup iframe{
        height:432px;
    }
}

@media only screen and (max-width:1280px){
    .lazy-videos-popup iframe{
        height:432px;
    }
}

@media only screen and (max-width:768px){
    .lazy-videos-popup{
        width:90%;
    }

    .lazy-videos-popup iframe{
        height:390px;
    }
}

@media only screen and (max-width:400px){
    .lazy-videos-popup{
        width:90%;
    }

    .lazy-videos-popup iframe{
        height:190px;
    }
}